<app-video-detail
  *ngFor="let video of videos$ | async"
  [video]="video"
  (onPlayed)="onPlayed($event)"
  class="mdl-cell mdl-cell--1-col"></app-video-detail>

  <button
    (click)="onMore()"
    [hidden]="videosCount === 0"
    class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent mav-more-button">
    <i [hidden]="loading" class="material-icons">add</i>
    <div [hidden]="!loading" class="mdl-spinner mdl-spinner--single-color mdl-js-spinner is-active mav-more-spiner"></div>
  </button>
