<span class="mdl-layout-title">MENU</span>
<nav class="mdl-navigation">
	<template [ngIf]="!loginUser || !loginUser.uid">
		<span class="mdl-navigation__link">로그인</span>
		<a href="#" (click)="onClickLogin($event, 'Facebook')" class="mdl-navigation__link">페이스북으로 로그인</a>
		<a href="#" (click)="onClickLogin($event, 'Github')" class="mdl-navigation__link">github으로 로그인</a>
	</template>
	<template [ngIf]="loginUser && loginUser.uid">
		<a href="#" class="mdl-navigation__link">북마크</a>
		<a href="#" (click)="onClickLogout($event)" class="mdl-navigation__link">로그아웃</a>
	</template>
</nav>